table.ReportTbl {
    border: solid 1px #000;
    border-collapse: collapse;
    margin: 15px 0px;
}

    table.ReportTbl .All {
        background-color: Yellow;
    }

    table.ReportTbl .Num {
        text-align: right;
    }

    table.ReportTbl .Bold {
        font-weight: bold;
    }

    table.ReportTbl .Result {
        background-color: #e8eef4;
    }

    table.ReportTbl td {
        padding: 5px;
        border: solid 1px #000;
    }

        table.ReportTbl td.TdNum {
            text-align: right;
        }

    table.ReportTbl th {
        padding: 6px 5px;
        text-align: center;
        background-color: #e8eef4;
        border: solid 1px #000;
    }

    table.ReportTbl td.srvc:empty {
        display: none;
    }

    table.ReportTbl th.srvc:empty {
        display: none;
    }
