@model MainModel
@Model.LastUpdate
<a asp-action="Create" asp-controller="Home">Add</a>
<table class="ReportTbl">
    <tr>
        <td>URL</td>
        <td>Login</td>
        <td></td>
    </tr>
    @foreach (var record in Model.PassRecords)
    {
        <tr>
            <td>@record.URL</td>
            <td>@record.Login</td>
            <td><a asp-action="Edit" asp-controller="Home" asp-route-id="@record.Id">Edit</a></td>
        </tr>
    }
</table>